*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Serif 4", serif;
    font-size: 1.125rem;
    background-color: #588157;
    color: #333;
    line-height: 1.5em;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#instructions{
    background-color: #eaeaea;
    width: 25%;
    padding: 75px;
}

h1{
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
}

hr{
    color: white;
    font-size: 2rem;
    width: 100vw;
    position: absolute;
    top: 50%;
    z-index: -10;
}

h2{
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 48px;
    padding: 50px;
}


form{
    background-color: #A8C7AE;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

